* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  
}
.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header{
  display: flex;
  background-color: rgb(80, 127, 229);
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px;


}
.top-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.sign{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logIn button{
  margin-right: 15px;
  background-color: rgb(80, 127, 229);
  color: white;
  border: none;

}
.signUp button{
  background-color: rgb(80, 127, 229);
  color: white;
  border-radius: 10%;
  border: 1px solid white;
}
.sign button{
  cursor: pointer;
  padding: 10px;
  height: 40px;
  font-weight: 600;
 
}
.signUp button:hover{
   
   background-color: white;
   color: rgba(80, 127, 229, 0.851);
}



.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 0px;
}
.inner-form {
  border-radius: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 0.378);
  border-radius: 10px;
  padding: 40px;
}
.mu h1 {
  font-size: 30px;
  margin-bottom: 10px;

  letter-spacing: 0.5px;
  font-weight: bold;
}
.mu h2 {
  font-size: 15px;

  font-weight: 100;
  letter-spacing: 0.5px;
  color: rgba(128, 128, 128, 0.619);
}
.mu span {
  color: rgb(80, 127, 229);
  cursor: pointer;
}
.main-form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

.signin {
  margin-top: 20px;
  color: white;
}
.signin input {
  border: 1px solid rgba(128, 128, 128, 0.619);
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.619);
  margin-bottom: 20px;
}

.signin span {
  color: white;
}
.Signin-btn {
  background-color: rgb(80, 127, 229);
  width: 100%;
  color: white;
  align-items: center;
  padding: 20px;
  border: none;
  border-radius: 25px;
}
.md {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.md .line {
  padding: 0.5px;
  width: 300px;
  background-color: rgb(95, 95, 94);
  margin-top: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md .or {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 15px;
  width: fit-content;
}
.option {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.option:hover {
  background-color: rgb(80, 127, 229);
}
.option span {
  background: none;
  padding: 10px;
}
.option i {
  background: none;
  font-size: 15px;
}
.more-login-options {
  width: 100%;
}
.Signin-btn {
  cursor: pointer;
}
.Signin-btn:hover {
  background-color: rgba(80, 127, 229, 0.851);
}
