.coin-cloud {
  margin: 0;
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: sans-serif;
  display: inline-block;
  min-width: 125px;
  white-space: nowrap;
  color: white;
}

.coin-cloud-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  margin-left: 2rem;
}

.log-out {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 58px;
}

.frame-wrapper,
.log-out-wrapper {
  /* display: flex; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
}

.log-out-wrapper {
  cursor: pointer;
  border: 1px solid white;
  padding: var(--padding-4xs) var(--padding-5xl);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
  background-color: #2a61ec;
  color: white;
}

.log-out-wrapper:hover {
  background-color: white;
  color: #2a61ec;
}

.frame-wrapper {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}

.frame-child {
  align-self: stretch;
  width: 40px;
  position: relative;
  border-radius: 50%;
  /* background-color: var(--color-darkslategray); */
  background-image: url("./assets/profile-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}

.frame-group,
.frame-item {
  overflow: hidden;
  flex-shrink: 0;
}

.frame-group {
  width: 100vw;
  align-self: stretch;
  height: 80px;
  box-shadow: 0 4px 4px rgba(169, 169, 169, 0.25),
    0 4px 0 rgba(131, 131, 131, 0.25) inset;
  /* border-radius: var(--br-xl); */
  /* background-color: var(--color-white); */
  background-color: #2a61ec;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: var(--padding-4xl) var(--padding-10xl) var(--padding-xl) 20px; */
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: 1.7rem;
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}

.frame-item {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: var(--br-31xl);
}

.bitcoin {
  position: relative;
  display: inline-block;
  min-width: 65px;
}

.bitcoin-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xl);
}

.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.frame-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-19xl);
  debug_commit: 1de1738;
}

.coins-inner,
.frame-inner,
.frame-wrapper2 {
  overflow: hidden;
  flex-shrink: 0;
}

.coins-inner {
  margin-top: -21.5px;
  width: 166px;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 7px;
  box-sizing: border-box;
}

.frame-inner {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: var(--br-31xl);
}

.doge {
  position: relative;
  display: inline-block;
  min-width: 51px;
}

.doge-wrapper,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 14px 0 14.5px;
}

.frame-parent3 {
  flex-direction: column;
  padding: 0 21.5px 0 0;
  gap: var(--gap-lg);
}

.coin-symbols-child {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
}

.coin-symbols {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) 0 27.5px;
}

.usdt-thether {
  position: relative;
  padding-left: 2.5rem;
}

.coin-pair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) 0 0;
  gap: var(--gap-lg);
}

.frame-icon {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
}

.coin-pair-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 2.5px;
}

.etherium {
  position: relative;
  display: inline-block;
  min-width: 85px;
}

.coin-pair1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}

.coins {
  height: 139px;
  flex: 1;
  overflow-x: auto;
  justify-content: space-between;
  padding: 4.5px 54px 12.5px 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.coins,
.coins-wrapper,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;

  max-width: 100%;
}

.coins-wrapper {
  width: 977px;
  box-shadow: 0 4px 0 rgba(208, 205, 205, 0.25) inset, 0 4px 0#f1f1f1;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 15px 76px;
  box-sizing: border-box;
}

.frame-wrapper1 {
  /* width: 1247px; */
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.frame-child1 {
  height: 40rem;
  flex: 1;
  position: relative;
  /* box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd; */
  box-shadow: 0 10px 13px #2a61ec inset, 0 2px 10px #2a61ec;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  min-width: 484px;
  max-width: 100%;
}

.outbox-1-icon {
  height: 29px;
  width: 29px;
  position: relative;
  object-fit: contain;
}

.send {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}

.send-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-lgi);
  background-color: var(--color-white);
  flex: 1;
  box-shadow: 0px 0px 10px grey;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 95px;
  width: 100%;
}

.send-btn:hover {
  background-color: #e4e5e6;
  box-shadow: 0px 0px 10px red;
}

.recive-btn:hover {
  background-color: #e4e5e6;
  box-shadow: 0px 0px 10px green;
}

.inbox-2-icon {
  height: 32px;
  width: 29px;
  position: relative;
  object-fit: contain;
  min-height: 32px;
}

.receive {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  min-width: 78px;
}

.receive-wrapper,
.recive-btn,
.transaction-controls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.receive-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}

.recive-btn,
.transaction-controls {
  overflow: hidden;
  flex-direction: row;
}

.recive-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-lgi);
  background-color: var(--color-white);
  flex: 1;
  box-shadow: 0px 0px 10px grey;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 95px;
  width: 100%;
}

.transaction-controls {
  align-self: stretch;
  box-shadow: 0 4px 0 rgba(164, 164, 164, 0.25);
  box-shadow: inset -1px 5px 12px 6px rgba(164, 164, 164, 0.25);
  /* background-color: var(--color-whitesmoke); */
  background-color: #2a61ec;
  padding: var(--padding-3xl) 79px 21px;
  gap: 43px;
}

.select-coin {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-black);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  min-width: 95px;
}

.select-coin-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  font-weight: bold;
}

.frame-child2 {
  align-self: stretch;
  height: 50px;
  position: relative;
  box-shadow: 0 4px 4px rgba(123, 123, 123, 0.25) inset, 0 4px 4px rgba(123, 123, 123, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-shrink: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.frame-input,
.frame-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-parent5 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
}

.frame-input {
  width: 190px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  color: var(--color-black);
}

.frame-child3 {
  align-self: stretch;
  height: 50px;
  position: relative;
  box-shadow: 0 4px 4px rgba(123, 123, 123, 0.25) inset, 0 4px 4px rgba(123, 123, 123, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-shrink: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.frame-child4,
.frame-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-parent6 {
  align-self: stretch;
  flex-direction: column;
  /* gap: var(--gap-5xs); */
}

.frame-child4 {
  width: 88px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  color: var(--color-black);
}

.frame-child5 {
  align-self: stretch;
  height: 50px;
  position: relative;
  box-shadow: 0 4px 4px rgba(123, 123, 123, 0.25) inset, 0 4px 4px rgba(123, 123, 123, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-shrink: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* gap: var(--gap-5xs); */
}

.address-fields,
.address-fields-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.address-fields {
  width: 384px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.address-fields-wrapper {
  width: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 41px;
    box-sizing: border-box;
}

.outbox-1-1 {
  height: 29px;
  width: 29px;
  position: relative;
  object-fit: contain;
}

.submit {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}

.send-btn-wrapper,
.send-btn1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.send-btn1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-base) var(--padding-smi) 17px;
  background-color: var(--color-skyblue);
  box-shadow: 0 2px 4px rgba(144, 144, 144, 0.25) inset,
    0 5px 4px rgba(123, 123, 123, 0.25);
  border-radius: var(--br-xl);
  overflow: hidden;
  justify-content: flex-start;
  gap: 4px;
}

.send-btn1:hover {
  background-color: var(--color-cadetblue);
  box-shadow: 0px 0px 10px #2a61ec;}

.send-btn-wrapper {
  justify-content: flex-end;
  padding: 0 40px;
  margin-top: 2.5rem;
}

.transaction-controls-parent {
  margin: 0;
  width: 475px;
  box-shadow: -4px 0 0 rgba(159, 159, 159, 0.25) inset,
    4px 0 0 rgba(164, 164, 164, 0.25) inset,
    0 4px 0 rgba(172, 172, 172, 0.25) inset, 0 4px 0 rgba(137, 137, 137, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 85px;
  box-sizing: border-box;
  gap: 26.5px;
  min-width: 475px;
  max-width: 100%;
}

.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
}

.frame-parent1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}

.frame-div,
.frame-parent,
.frame-parent1 {
  display: flex;
  max-width: 100%;
}

.frame-div {
  /* width: 1351px; */
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 30px;
  box-sizing: border-box;
}

.frame-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.transaction-history {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.transaction-history-wrapper {
  width: 518px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}

.type,
.type1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  min-width: 37px;
  width: 100%;
  height: 100%;
}

.type1 {
  z-index: 1;
}

.filter-options {
  height: 23px;
  flex: 1;
  position: relative;
}

.up-and-down-arrow-1-icon {
  width: 12px;
  height: 11.4px;
  position: relative;
  object-fit: cover;
}

.up-and-down-arrow-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-8);
}

.filter-options-parent {
  width: 59px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.date {
  position: relative;
  display: inline-block;
  min-width: 36px;
}

.up-and-down-arrow-2-icon {
  width: 12px;
  height: 11.4px;
  position: relative;
  object-fit: cover;
}

.date-parent,
.up-and-down-arrow-2-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.up-and-down-arrow-2-wrapper {
  flex-direction: column;
  padding: var(--padding-7xs-8) 0 0;
}

.date-parent {
  flex-direction: row;
  gap: var(--gap-3xs);
}

.asset {
  position: relative;
  display: inline-block;
  min-width: 41px;
}

.up-and-down-arrow-3-icon {
  width: 12px;
  height: 11.4px;
  position: relative;
  object-fit: cover;
}

.asset-parent,
.up-and-down-arrow-3-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.up-and-down-arrow-3-wrapper {
  flex-direction: column;
  padding: var(--padding-7xs-8) 0 0;
}

.asset-parent {
  flex-direction: row;
  gap: var(--gap-3xs);
}

.amount {
  position: relative;
  display: inline-block;
  min-width: 60px;
}

.up-and-down-arrow-4-icon {
  width: 12px;
  height: 11.4px;
  position: relative;
  object-fit: cover;
}

.amount-parent,
.up-and-down-arrow-4-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.up-and-down-arrow-4-wrapper {
  flex-direction: column;
  padding: var(--padding-7xs-8) 0 0;
}

.amount-parent {
  flex-direction: row;
  gap: var(--gap-3xs);
}

.address {
  position: relative;
  display: inline-block;
  min-width: 61px;
}

.up-and-down-arrow-5-icon {
  width: 12px;
  height: 11.4px;
  position: relative;
  object-fit: cover;
}

.up-and-down-arrow-5-wrapper {
  flex-direction: column;
  padding: var(--padding-7xs-8) 0 0;
}

.address-parent,
.history-columns,
.transactions-container,
.up-and-down-arrow-5-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.address-parent {
  flex-direction: row;
  gap: var(--gap-3xs);
}

.history-columns,
.transactions-container {
  align-self: stretch;
  border-radius: var(--br-xl);
  overflow: hidden;
}

.history-columns {
  flex-direction: row;
  padding: var(--padding-9xl) 90px;
  gap: 168px;
  z-index: 1;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
}

.transactions-container {
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  background-color: var(--color-white);
  flex-direction: column;
  padding: 97px 0 0;
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}

.inbox-2-icon1 {
  height: 32px;
  width: 29px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}

.receive1 {
  position: relative;
  display: inline-block;
  min-width: 78px;
}

.receive-container,
.transaction-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.receive-container {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}

.transaction-data {
  flex-direction: row;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}

.may-2024 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}

.may-2024-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-lgi) 0 0;
}

.icon-bitcoin-cryptocurrency {
  height: 29px;
  width: 29px;
  position: relative;
}

.bitcoin1 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}

.btc-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 0;
  gap: var(--gap-4xs);
}

.btc {
  position: relative;
  display: inline-block;
  min-width: 68px;
}

.transaction-id {
  width: 148px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.oxdjgfjgjfhghfhgjfhg {
  position: relative;
}

.oxdjgfjgjfhghfhgjfhg-wrapper,
.transaction-rows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}

.transaction-rows {
  width: 1291px;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-10xl) var(--padding-79xl) var(--padding-10xl) var(--padding-63xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.outbox-1-icon1 {
  height: 29px;
  width: 29px;
  position: relative;
  object-fit: contain;
}

.send1 {
  width: 58px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.send-btn2 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 87px;
}

.may-20241 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}

.may-2024-container,
.send-btn-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.may-2024-container {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-black);
}

.send-btn-parent {
  width: 332px;
  flex-direction: row;
  gap: var(--gap-81xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}

.icon-ethereum-cryptocurrency {
  height: 29px;
  width: 29px;
  position: relative;
  min-height: 29px;
}

.etherium1 {
  position: relative;
  display: inline-block;
  min-width: 71px;
}

.asset-names {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}

.asset-names,
.icon-ethereum-cryptocurrency-parent,
.transaction-rows-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon-ethereum-cryptocurrency-parent {
  flex-direction: row;
  gap: var(--gap-4xs);
}

.transaction-rows-inner {
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-15xl) 0 0;
}

.eth {
  position: relative;
  display: inline-block;
  min-width: 73px;
}

.eth-wrapper {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.oxdjgvhdjhhgjfhghfhgjfhg {
  position: relative;
}

.oxdjgvhdjhhgjfhghfhgjfhg-wrapper,
.transaction-rows1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}

.transaction-rows1 {
  width: 1291px;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-34xl) var(--padding-xs) var(--padding-46xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.inbox-2-icon2 {
  height: 32px;
  width: 29px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}

.receive2 {
  position: relative;
  display: inline-block;
  min-width: 78px;
}

.inbox-2-parent,
.receive-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.receive-frame {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}

.inbox-2-parent {
  flex-direction: row;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}

.may-20242 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}

.may-2024-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-lgi) 0 0;
}

.icon-bitcoin-cryptocurrency1 {
  height: 29px;
  width: 29px;
  position: relative;
}

.bitcoin2 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}

.icon-bitcoin-cryptocurrency-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 0;
  gap: var(--gap-4xs);
}

.btc1 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}

.btc-wrapper {
  width: 148px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.oxdjgfjgjfhghfhgjfhg1 {
  position: relative;
}

.oxdjgfjgjfhghfhgjfhg-container,
.transaction-rows2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}

.transaction-rows2 {
  width: 1291px;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-10xl) var(--padding-79xl) var(--padding-10xl) var(--padding-63xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.outbox-1-icon2 {
  height: 29px;
  width: 29px;
  position: relative;
  object-fit: contain;
}

.send2 {
  width: 58px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.send-btn3 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 87px;
}

.may-20243 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}

.may-2024-wrapper1,
.send-btn-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.may-2024-wrapper1 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-black);
}

.send-btn-group {
  width: 332px;
  flex-direction: row;
  gap: var(--gap-81xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}

.icon-ethereum-cryptocurrency1 {
  height: 29px;
  width: 29px;
  position: relative;
  min-height: 29px;
}

.etherium2 {
  position: relative;
  display: inline-block;
  min-width: 71px;
}

.etherium-wrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}

.etherium-wrapper,
.icon-ethereum-cryptocurrency-group,
.transaction-rows-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon-ethereum-cryptocurrency-group {
  flex-direction: row;
  gap: var(--gap-4xs);
}

.transaction-rows-child {
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-15xl) 0 0;
}

.eth1 {
  position: relative;
  display: inline-block;
  min-width: 73px;
}

.eth-container {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.oxdjgvhdjhhgjfhghfhgjfhg1 {
  position: relative;
}

.oxdjgvhdjhhgjfhghfhgjfhg-container,
.transaction-rows3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}

.transaction-rows3 {
  width: 1291px;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-34xl) var(--padding-xs) var(--padding-46xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.inbox-2-icon3 {
  height: 32px;
  width: 29px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}

.receive3 {
  position: relative;
  display: inline-block;
  min-width: 78px;
}

.inbox-2-group,
.receive-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.receive-wrapper1 {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}

.inbox-2-group {
  flex-direction: row;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}

.may-20244 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}

.may-2024-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-lgi) 0 0;
}

.icon-bitcoin-cryptocurrency2 {
  height: 29px;
  width: 29px;
  position: relative;
}

.bitcoin3 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}

.icon-bitcoin-cryptocurrency-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 0;
  gap: var(--gap-4xs);
}

.btc2 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}

.btc-container {
  width: 148px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.oxdjgfjgjfhghfhgjfhg2 {
  position: relative;
}

.oxdjgfjgjfhghfhgjfhg-frame,
.transaction-rows4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}

.transaction-rows4 {
  width: 1291px;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-10xl) var(--padding-79xl) var(--padding-10xl) var(--padding-63xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.outbox-1-icon3 {
  height: 29px;
  width: 29px;
  position: relative;
  object-fit: contain;
}

.send3 {
  width: 58px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.send-btn4 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 87px;
}

.may-20245 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}

.may-2024-wrapper3,
.send-btn-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.may-2024-wrapper3 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-black);
}

.send-btn-container {
  width: 332px;
  flex-direction: row;
  gap: var(--gap-81xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}

.icon-ethereum-cryptocurrency2 {
  height: 29px;
  width: 29px;
  position: relative;
  min-height: 29px;
}

.etherium3 {
  position: relative;
  display: inline-block;
  min-width: 71px;
}

.etherium-container,
.icon-ethereum-cryptocurrency-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.etherium-container {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}

.icon-ethereum-cryptocurrency-container {
  flex-direction: row;
  gap: var(--gap-4xs);
}

.transaction-rows-inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-15xl) 0 0;
}

.eth2 {
  position: relative;
  display: inline-block;
  min-width: 73px;
}

.eth-frame {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.oxdjgvhdjhhgjfhghfhgjfhg2 {
  position: relative;
}

.oxdjgvhdjhhgjfhghfhgjfhg-frame,
.transaction-rows5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}

.transaction-rows5 {
  width: 1291px;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-34xl) var(--padding-xs) var(--padding-46xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.inbox-2-icon4 {
  height: 32px;
  width: 29px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
}

.receive4 {
  position: relative;
  display: inline-block;
  min-width: 78px;
}

.inbox-2-container,
.receive-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.receive-wrapper2 {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}

.inbox-2-container {
  flex-direction: row;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}

.may-20246 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}

.may-2024-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-lgi) 0 0;
}

.icon-bitcoin-cryptocurrency3 {
  height: 29px;
  width: 29px;
  position: relative;
}

.bitcoin4 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}

.icon-bitcoin-cryptocurrency-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) 0 0;
  gap: var(--gap-4xs);
}

.btc3 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}

.btc-frame {
  width: 148px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.oxdjgfjgjfhghfhgjfhg3 {
  position: relative;
}

.oxdjgfjgjfhghfhgjfhg-wrapper1,
.transaction-rows6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}

.transaction-rows6 {
  width: 1291px;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-10xl) var(--padding-79xl) var(--padding-10xl) var(--padding-63xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.outbox-1-icon4 {
  height: 29px;
  width: 29px;
  position: relative;
  object-fit: contain;
}

.send4 {
  width: 58px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.send-btn5 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  min-width: 87px;
}

.may-20247 {
  position: relative;
  display: inline-block;
  min-width: 95px;
}

.may-2024-wrapper5,
.send-btn-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.may-2024-wrapper5 {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  font-size: var(--font-size-base);
  color: var(--color-black);
}

.send-btn-parent1 {
  width: 332px;
  flex-direction: row;
  gap: var(--gap-81xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}

.icon-ethereum-cryptocurrency3 {
  height: 29px;
  width: 29px;
  position: relative;
  min-height: 29px;
}

.etherium4 {
  position: relative;
  display: inline-block;
  min-width: 71px;
}

.etherium-frame,
.icon-ethereum-cryptocurrency-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.etherium-frame {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}

.icon-ethereum-cryptocurrency-parent1 {
  flex-direction: row;
  gap: var(--gap-4xs);
}

.transaction-rows-inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-15xl) 0 0;
}

.eth3 {
  position: relative;
  display: inline-block;
  min-width: 73px;
}

.eth-wrapper1 {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}

.oxdjgvhdjhhgjfhghfhgjfhg3 {
  position: relative;
}

.oxdjgvhdjhhgjfhghfhgjfhg-wrapper1,
.transaction-rows7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}

.transaction-rows7 {
  width: 1291px;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xl) var(--padding-34xl) var(--padding-xs) var(--padding-46xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.transaction-history1,
.transactions-container-parent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.transaction-history1 {
  width: 1291px;
  overflow-x: auto;
  display: flex;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}

.transactions-container-parent {
  flex: 1;
  box-shadow: 0 4px 4px #e4e5e6 inset, 0 4px 4px #dbdcdd;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 var(--padding-4xl);
  gap: var(--gap-xl);
}

.homee,
.homee-inner,
.transactions-container-parent {
  display: flex;
  box-sizing: border-box;
}

.homee-inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 48px 0 56px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.homee {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-5xs);
  gap: 141px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1250px) {
  .transaction-controls-parent {
    flex: 1;
  }

  .frame-parent4 {
    flex-wrap: wrap;
  }

  .history-columns {
    flex-wrap: wrap;
    gap: 84px;
    justify-content: center;
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1100px) {

  .coins,
  .coins-wrapper {
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }

  .coins-wrapper {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
  }
}

@media screen and (max-width: 750px) {
  .frame-group {
    padding-left: 15px;
    box-sizing: border-box;
  }

  .frame-child1 {
    min-width: 100%;
  }

  .transaction-controls {
    box-shadow: inset -1px 5px 12px 6px rgba(164, 164, 164, 0.25);
    gap: var(--gap-2xl);
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }

  .transaction-controls-parent {
    padding-bottom: 77px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .frame-parent4 {
    gap: 36px;
  }

  .transaction-history {
    font-size: 26px;
  }

  .history-columns {
    gap: 42px;
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }

  .homee-inner {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }

  .homee {
    gap: 70px;
  }
}

@media screen and (max-width: 450px) {

  .bitcoin,
  .doge,
  .etherium,
  .receive,
  .send,
  .usdt-thether {
    font-size: var(--font-size-base);
  }

  .transaction-controls {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .submit {
    font-size: var(--font-size-base);
  }

  .frame-parent4 {
    gap: var(--gap-lg);
  }

  .transaction-history {
    font-size: 19px;
  }

  .history-columns {
    gap: var(--gap-2xl);
  }

  .receive1,
  .receive2,
  .receive3,
  .receive4,
  .send1,
  .send2,
  .send3,
  .send4 {
    font-size: var(--font-size-base);
  }

  .homee {
    gap: 35px;
  }
}

/* ------------------------------------------------------ */
.navbar{
	background: #2a61ec;
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  /* margin-bottom: 2rem; */
	/* padding: 0 50px; */
}

.navbar .logo a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}

.navbar .nav_right > ul{
	display: flex;
	align-items: center;
}

.navbar .nav_right ul li.nr_li{
  list-style: none;
	margin-left: 20px;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	position: relative;
}

.navbar .nav_right ul li.nr_li:hover {
    color: #cefffc;
}

.navbar .nav_right ul li img{
	width: 35px;
  height: 35px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 2rem;
}

.navbar .dd_menu {
  z-index: 1000;
    position: absolute;
    right: -25px;
    top: 47px;
    display: flex;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    display: none;
}

.navbar .dd_menu .dd_left{
	background: #2a61ec;
	/* padding: 15px 20px; */
  padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.navbar .dd_menu .dd_right{
  /* padding: 15px 20px; */
  padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    width: 12rem;
    border-radius: 1rem;
    border-bottom: 3px solid #2a61ec;
}
.navbar .dd_menu .dd_right ul{
  width: 5rem;
  font-size: 1rem;
  font-weight: bold;
}
.navbar .dd_menu .dd_right ul hr{
  display: flex;
    width: 8rem;
    margin: 1.1rem;
}
.navbar .dd_menu .dd_right ul li span{
  color: #2a61ec;
  font-size: 1.1rem;
}

.navbar .dd_menu li{
  list-style: none;
	margin-bottom: 15px;
	color: black;
  width: 12rem;
}
.navbar .dd_menu li:hover{
  color: grey;

}

.navbar .dd_menu:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 10px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
}

.navbar .dd_main.active .dd_menu{
	display: flex;
  margin-right: 4rem;
}
.fa-solid, .fas {
  font-weight: 900;
  /* padding: 0.5rem; */
  margin-right: 1rem;
}
.crypto-Line{
  display: flex;
  flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    height: 3vh;
    width: 100%;
    background-color: grey;
    justify-content: center;
    align-items: center;
}
