@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
body {
  background: url(/static/animatedBg.gif);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f305;
  border-radius: 50%;
  border-top: 16px solid;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  color: rgb(255, 255, 255);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@keyframes animatebottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logo span {
  font-size: 100px;
  color: white;
  font-weight: 200;
}
#slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-left: 2px solid grey;
  height: 90px;
  padding: 10px;
}
.slogan {
  animation: animateLeft 1s linear;
}

@-webkit-keyframes animateLeft {
  from {
    right: 100px;
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    right: 0px;

    opacity: 1;
  }
}

/* landing2*/

.landing2 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: linear 2s animatebottom;
}
.buttons-div {
  display: flex;
  gap: 10px;
}
.buttons-div button {
  padding: 10px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.104);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}
.buttons-div button:hover {
  background-color: rgba(255, 255, 255, 0.142);
}
/* --------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  .landing2 {
    flex-direction: column;
  }
  .Logo span {
    font-size: 60px;
  }
  #slogan {
    width: 80%;
    padding: 25px;
  }
  .buttons-div {
    flex-direction: column;
    padding: 2rem;
  }
  .buttons-div button {
    border-radius: 15px;
  }
}
