* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

  font-family: "Varela Round", sans-serif;
}
body {
  background: url(/static/animatedBg.gif);
  background-size: cover;
  color: white;
}

.md {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.md .line {
  padding: 0.5px;
  width: 300px;
  background-color: rgba(95, 95, 94, 0.297);
  margin-top: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md .or {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  margin-top: 15px;
  width: fit-content;
}
.header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px;
}
.top-left {
  font-size: 10px;
  margin-left: 50px;
}
.top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logIn button {
  margin-right: 15px;
  background-color: transparent;
  color: white;
  border: none;
}
.signUp button {
  background-color: transparent;
  color: white;
  border-radius: 10%;
  border: 0.4px solid rgba(128, 128, 128, 0.433);
}
.sign button {
  cursor: pointer;
  padding: 10px;
  height: 40px;
  font-weight: 600;
}
.signUp button:hover {
  background-color: rgba(255, 255, 255, 0.163);
}
.n2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-right: 40px;
}
.m1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m1 span:nth-child(1) {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
}
.signup {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
#s1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
#s2 {
  color: rgb(145, 61, 224);
}
.signup input {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(128, 128, 128, 0.671);
  border-radius: 6px;
  background: transparent;
  outline: none;
  color: white;
}

.signup button {
  background-color: rgba(255, 255, 255, 0.118);
  border: 0.4px solid rgba(128, 128, 128, 0.522);
  color: white;
  padding: 15px;
  border-radius: 16px;
  font-size: medium;
  margin-top: 10px;
  cursor: pointer;
}
.signup button:hover {
  background-color: rgba(255, 255, 255, 0.127);
}
