<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Desktop" content="width=device-width, initial-scale=1.0" />
    <title>CoinCloud - Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/loader.css" />
  </head>

  <body>
    <div id="loader">
      <svg class="loader" width="240" height="240" viewBox="0 0 240 240">
        <circle
          class="loader-ring loader-ring-a"
          cx="120"
          cy="120"
          r="105"
          fill="none"
          stroke="#000"
          stroke-width="20"
          stroke-dasharray="0 660"
          stroke-dashoffset="-330"
          stroke-linecap="round"
        ></circle>
        <circle
          class="loader-ring loader-ring-b"
          cx="120"
          cy="120"
          r="35"
          fill="none"
          stroke="#000"
          stroke-width="20"
          stroke-dasharray="0 220"
          stroke-dashoffset="-110"
          stroke-linecap="round"
        ></circle>
        <circle
          class="loader-ring loader-ring-c"
          cx="85"
          cy="120"
          r="70"
          fill="none"
          stroke="#000"
          stroke-width="20"
          stroke-dasharray="0 440"
          stroke-linecap="round"
        ></circle>
        <circle
          class="loader-ring loader-ring-d"
          cx="155"
          cy="120"
          r="70"
          fill="none"
          stroke="#000"
          stroke-width="20"
          stroke-dasharray="0 440"
          stroke-linecap="round"
        ></circle>
      </svg>
    </div>

    <!-- Main content -->
    <div id="content">
      <div class="main">
        <div class="wrapper">
          <div class="navbar">
            <div class="coin-cloud-wrapper">
              <h3 class="coin-cloud">CoinCloud</h3>
            </div>
            <div class="nav_right">
              <ul>
                <li class="nr_li">
                  <!-- <a href="../Signin.html"><button class="log-out-wrapper">
                  Log out
                </button></a> -->
                  <div class="user">
                    {% if user %}
                    <span>{{ user.name }}</span>
                    {% else %}
                    <span>guest</span>
                    {% endif %} {% if user %}

                    <div class="user-bottom">
                      <span id="ll1">{{ user.email }}</span>
                      {% else %}
                      <span>guest</span>
                      {% endif %}
                    </div>
                  </div>
                </li>
                <li class="nr_li dd_main">
                  <img src="/static/image.png" alt="profile_img" />

                  <div class="dd_menu">
                    <div class="dd_right">
                      <ul>
                        <!-- <li><span><i class="fa-solid fa-user"></i></span>User 1</li>
                    <li><span><i class="fa-solid fa-question"></i></span>abc@gmail.com</li> -->
                        <!-- <hr> -->
                        <li>
                          <a href="{{url_for('Landing_page')}}"
                            ><span><i class="fas fa-sign-out-alt"></i></span>
                            <div class="log-drop">Logout</div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <script
          defer
          src="https://www.livecoinwatch.com/static/lcw-widget.js"
        ></script>
        <div
          class="livecoinwatch-widget-5"
          lcw-base="USD"
          lcw-color-tx="#ffffff"
          lcw-marquee-1="coins"
          lcw-marquee-2="movers"
          lcw-marquee-items="30"
        ></div>
        <div class="hero">
          <div class="left">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <div class="tradingview-widget-copyright">
                <a
                  href="https://www.tradingview.com/"
                  rel="noopener nofollow"
                  target="_blank"
                  ><span class="blue-text"></span
                ></a>
              </div>
              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js"
                async
              >
                {
                  "feedMode": "all_symbols",
                    "isTransparent": true,
                      "displayMode": "regular",
                        "width": "100%",
                          "height": "100%",
                            "colorTheme": "dark",
                              "locale": "en"
                }
              </script>
            </div>
            <!-- TradingView Widget END -->
          </div>
          <div class="center">
            <div class="chart">
              <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright">
                  <a
                    href="https://www.tradingview.com/"
                    rel="noopener nofollow"
                    target="_blank"
                  >
                  </a>
                </div>
                <script
                  type="text/javascript"
                  src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js"
                  async
                >
                  {
                    "symbols": [
                      [
                        "BITSTAMP:BTCUSD|1D"
                      ],
                      [
                        "CME:ETH1!|1D"
                      ],
                      [
                        "CRYPTOCAP:USDT|1D"
                      ],
                      [
                        "CRYPTOCAP:DOGE|1D"
                      ],
                      [
                        "CRYPTOCAP:SHIB|1D"
                      ],
                      [
                        "BINANCE:IOTAUSDT|1D"
                      ],
                      [
                        "BINANCE:ETCUSDT|1D"
                      ],
                      [
                        "CRYPTOCAP:ADA|1D"
                      ],
                      [
                        "CRYPTOCAP:MATIC|1D"
                      ],
                      [
                        "BINANCE:JUPUSDT|1D"
                      ],
                      [
                        "CRYPTOCAP:SOL|1D"
                      ]
                    ],
                      "chartOnly": false,
                        "width": "100%",
                          "height": "100%",
                            "locale": "en",
                              "colorTheme": "dark",
                                "autosize": true,
                                  "showVolume": false,
                                    "showMA": false,
                                      "hideDateRanges": false,
                                        "hideMarketStatus": false,
                                          "hideSymbolLogo": false,
                                            "scalePosition": "right",
                                              "scaleMode": "Normal",
                                                "fontFamily": "Courier New, monospace",
                                                  "fontSize": "10",
                                                    "noTimeScale": false,
                                                      "valuesTracking": "1",
                                                        "changeMode": "price-and-percent",
                                                          "chartType": "area",
                                                            "maLineColor": "#2962FF",
                                                              "maLineWidth": 1,
                                                                "maLength": 9,
                                                                  "fontColor": "rgba(255, 255, 255, 1)",
                                                                    "gridLineColor": "rgba(42, 46, 57, 0.07)",
                                                                      "backgroundColor": "rgba(255, 255, 255, 0)",
                                                                        "widgetFontColor": "rgba(255, 255, 255, 1)",
                                                                          "lineWidth": 2,
                                                                            "lineType": 0,
                                                                              "dateRanges": [
                                                                                "1d|1",
                                                                                "1m|30",
                                                                                "3m|60",
                                                                                "12m|1D",
                                                                                "60m|1W",
                                                                                "all|1M"
                                                                              ]
                  }
                </script>
              </div>
              <!-- TradingView Widget END -->
            </div>

            <!-- <div class="balance">
            <span class="b1">Tokens</span>
            <div class="b2">
              <span>Name</span>
              <span>Balance</span>
              <span>Total value</span>
            </div>
            <div class="b2-values">
              <span>Bitcoin</span>
              <span>Rs10,000</span>
              <span>Rs20,000</span>
            </div>
          </div> -->
          </div>
          <div class="rightall">
            <div class="right">
              <div class="send-receive">
                <div class="send-receive-child"></div>
                <div class="send-wrapper" id="send-wrapper">
                  <span><button>Submit</button></span>
                </div>
                <div class="swipe-down" id="swipe">
                  <div class="sd2">
                    <span>Swipe-down</span> <img src="/static/Polygon 1.png" />
                  </div>
                </div>
                <div class="view-all-transactions-wrapper" id="view-all-trx">
                  <div class="view-all-transactions" id="view-all">
                    View All Transactions
                  </div>
                  <div class="show-transaction" id="show-trx">
                    <div class="sent">
                      <div class="sent-icon">
                        <img id="sent-symbol" src="/static/sent.png" />
                      </div>
                      <div class="info-block">
                        <div class="sent-address">
                          <span id="sent-add">0xr7gy3yr57jt0p</span>
                        </div>
                        <div class="sent-date">
                          <span id="val">Sent</span> |
                          <span id="date-val">22 March,2024</span>
                        </div>
                      </div>
                      <div class="amount-block">
                        <span id="sent-amt">44.87</span>
                        <span id="sent-coin">BTC</span>
                      </div>
                    </div>

                    <div class="receive">
                      <div class="receive-icon">
                        <img id="receive-symbol" src="/static/receive.png" />
                      </div>
                      <div class="info-block">
                        <div class="receive-address">
                          <span id="receive-add">0x3bgy3yrlrjt0p</span>
                        </div>
                        <div class="receive-date">
                          <span id="val">Receive</span> |
                          <span id="date-val">29 March,2024</span>
                        </div>
                      </div>
                      <div class="amount-block">
                        <span id="receive-amt">157.73</span>
                        <span id="receive-coin">BTC</span>
                      </div>
                    </div>

                    <!-- ------------------------------------------------------------- -->
                  </div>
                </div>

                <div class="select-coin" id="select-display">
                  <select name="coins" id="coins" onchange="getOption()">
                    <option value="--">Select coin --</option>
                    <option value="BTC">Bitcoin</option>
                    <option value="LTC">Litecoin</option>
                    <!--
                    <option value="JUP">Jupiter</option>
                    <option value="USDT">Thether</option>-->
                  </select>

                  <div class="select-coin1">Select coin</div>
                </div>
                <div class="destination-address" id="dest-display">
                  <input
                    class="select-coin-dropdown"
                    type="text"
                    id="dest-address-input"
                  />
                  <div class="select-coin1" id="dest-address-placeholder">
                    MY Address
                  </div>
                </div>
                <div class="amount" id="amount">
                  <input class="select-coin-dropdown" type="text" />
                  <div class="select-coin1">Amount</div>
                  <div class="availablebalance" id="availablebalance">
                    Available : <span id="avail-amt"></span
                    ><span id="avail-type">--</span>
                  </div>
                </div>
                <div class="sendbtn" id="send-btn">Send</div>
                <div class="receivebtn" id="rec-btn">Receive</div>
                <div class="send-receive-item" id="hr-display"></div>
              </div>
            </div>
            <div class="right-bottom">
              <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>

                <script
                  type="text/javascript"
                  src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js"
                  async
                >
                  {
                    "colorTheme": "dark",
                      "dateRange": "12M",
                        "showChart": false,
                          "locale": "en",
                            "width": "100%",
                              "height": "100%",
                                "largeChartUrl": "",
                                  "isTransparent": true,
                                    "showSymbolLogo": true,
                                      "showFloatingTooltip": false,
                                        "tabs": [
                                          {
                                            "title": "Crypto",
                                            "symbols": [
                                              {
                                                "s": "CRYPTOCAP:SOL"
                                              },
                                              {
                                                "s": "BITSTAMP:BTCUSD"
                                              },
                                              {
                                                "s": "CRYPTOCAP:MATIC"
                                              },
                                              {
                                                "s": "CRYPTOCAP:USDT"
                                              },
                                              {
                                                "s": "BINANCE:ETCUSDT"
                                              }
                                            ]
                                          }
                                        ]
                  }
                </script>
              </div>
              <!-- TradingView Widget END -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/home.js"></script>
    <script src="/static/loader.js"></script>

    <script
      src="https://kit.fontawesome.com/7bf9ff52a1.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
