<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoinCloud - Elevate your crypto experience</title>
    <link rel="stylesheet" href="/static/landing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="landing2">
      <div class="Logo"><span>CoinCloud</span></div>
      <div class="slogan" id="slogan">
        Elevate Your Crypto Experience to New Heights!
      </div>
    </div>
    <div class="buttons-div">
      <div class="signin-btn">
        <a href="{{url_for('login')}}"><button>Sign in</button></a>
      </div>
      <div class="signup-btn">
        <a href="{{url_for('register')}}"><button>Create an wallet</button></a>
      </div>
    </div>
  </body>
</html>
