<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coin Cloud - Sign in</title>
  <link rel="stylesheet" href="/static/LoginForm.css" />
  <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
  <script defer type="module" src="/static/google.js"></script>
  <link rel = "stylesheet " href="/static/loader.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
</head>

<body>
  <div id="loader">
    <svg class="loader" width="240" height="240" viewBox="0 0 240 240">
        <circle class="loader-ring loader-ring-a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
        <circle class="loader-ring loader-ring-b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
        <circle class="loader-ring loader-ring-c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        <circle class="loader-ring loader-ring-d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
    </svg>
</div>
<div id="content">
  <div class="header">
 
      <div class="top-left">
          <h1>CoinCloud</h1>
      </div>
      <div class="top-right">
        <div class="sign">
         
          <div class="signUp">
            <a href="{{url_for('register')}}"
              ><button class="signText signTextUp">Sign Up</button></a
            >
          </div>
        </div>
      </div>

  
    </div>

  <div class="signin">
   


  </div>
  <form id="loginForm"  action="/login" method="post">
    <div class="form">
    <div class="inner-form">
      <div class="main-form">
        <div class="mu">
          <h1>Sign in to Coin Cloud</h1>
          
          <div class="signin">
            <span class="email" >Email</span>
           <input type="email" id="email" name="email" placeholder="Enter your Email" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
            <a href="{{url_for('home')}}"><button class="Signin-btn" type="submit" id="submit">Continue</button></a>
            
          </div>
          
        </div>
        
  </form>

        

      

        
          </div>
        </div>



      </div>
    </div>
  </div>
    <script src="/static/app.js"></script>
    <script src="/static/authentication.js"></script>
    <script src="/static/loader.js"></script>
    <script src="https://kit.fontawesome.com/7bf9ff52a1.js" crossorigin="anonymous"></script>
    
</body>

</html>