<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coin Vault - Sign up</title>
    <link rel="stylesheet" href="/static/SignupForm.css" />
    <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon" />
    <script defer type="module" src="/static/google.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet " href="/static/loader.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="loader">
      <svg class="loader" width="240" height="240" viewBox="0 0 240 240">
        <circle
          class="loader-ring loader-ring-a"
          cx="120"
          cy="120"
          r="105"
          fill="none"
          stroke="#000"
          stroke-width="20"
          stroke-dasharray="0 660"
          stroke-dashoffset="-330"
          stroke-linecap="round"
        ></circle>
        <circle
          class="loader-ring loader-ring-b"
          cx="120"
          cy="120"
          r="35"
          fill="none"
          stroke="#000"
          stroke-width="20"
          stroke-dasharray="0 220"
          stroke-dashoffset="-110"
          stroke-linecap="round"
        ></circle>
        <circle
          class="loader-ring loader-ring-c"
          cx="85"
          cy="120"
          r="70"
          fill="none"
          stroke="#000"
          stroke-width="20"
          stroke-dasharray="0 440"
          stroke-linecap="round"
        ></circle>
        <circle
          class="loader-ring loader-ring-d"
          cx="155"
          cy="120"
          r="70"
          fill="none"
          stroke="#000"
          stroke-width="20"
          stroke-dasharray="0 440"
          stroke-linecap="round"
        ></circle>
      </svg>
    </div>

    <!-- Main content -->
    <div id="content">
      <div class="header">
        <div class="top-left">
          <h1>CoinCloud</h1>
        </div>
        <div class="top-right">
          <div class="sign">
            <div class="logIn">
              <a href="{{url_for('login')}}"
                ><button class="signText signTextIn">Log in</button></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="main">
        <form id="signupForm" action="/register" method="POST">
          <div class="m1">
            <div class="signup">
              <span>Welcome to <span id="s2">Coin Cloud</span></span>
              <span id="s1">Sign up</span>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter your Name"
                required
              />
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your Email"
                required
              />
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Create Password"
                required
              />

              <span>
                <input type="checkbox" id="agree-btn" name="agree-btn" />
                <span>agree with terms and conditions</span>
              </span>

              <button type="submit" id="submit">Sign up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/7bf9ff52a1.js"
      crossorigin="anonymous"
    ></script>
    <script src="/static/loader.js"></script>
  </body>
</html>
