<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coin Cloud - Sign in</title>
  <link rel="stylesheet" href="/static/LoginForm.css" />
  <link rel="shortcut icon" href="/static/logo.ico" type="image/x-icon">
</head>

<body>
  <div class="header">
        <div class="top-left">
            <h1>CoinCloud</h1>
        </div>
        <div class="top-right">
            <div class="sign">
                <div class="logIn">
                    <a href="{{url_for('login')}}"><button class="signText signTextIn">Log in</button></a>
                </div>
                <div class="signUp">
                  <a href="{{url_for('register')}}">  <button class="signText signTextUp">Sign Up</button></a>
                </div>
            </div>
        </div>
    </div>

  <div class="signin">
   


  </div>
  <form action="/login" method="post">
    <div class="form">
    <div class="inner-form">
      <div class="main-form">
        <div class="mu">
          <h1>Sign in to Coin Cloud</h1>
          <h2>
            See our <span class="Privacy-Policy">Privacy Policy</span> for
            more info. Not your device? Use a private window.
          </h2>
          <div class="signin">
            <span class="email" >Email</span>
            <input type="email" name="signin-email" id="e1" placeholder="Your email address " />
            <input type="password" name="signin-password" id="e2" placeholder="Your password">
            <a href="{{url_for('home')}}"><button class="Signin-btn">Continue</button></a>
          </div>
        </div>
  </form>

        <div class="md">
          <div class="line"></div>
          <div class="or">Or</div>
        </div>


        <div class="more-login-options">
          <div class="option"><span>Sign in with Google</span>
            <i class="fa-brands fa-google"></i>
          </div>

      

        
          </div>
        </div>



      </div>
    </div>
    <script src="/static/app.js"></script>
    <script src="/static/authentication.js"></script>
    <script src="https://kit.fontawesome.com/7bf9ff52a1.js" crossorigin="anonymous"></script>
</body>

</html>